<div class = "container" id = "weather-search">
	<h2>Enter city or zipcode</h2>

	
	<form name ="cityForm">
		<span>City</span>
		<input type="text" size="50" name="city" placeholder="Enter city name to see weather forcast"
			ng-model="weatherSearch.cityName"
			required>

		<button class="btn-info"
			ng-disabled="cityForm.$invalid"
			ng-click="weatherSearch.submit()"
			ui-sref="home.result({city: weatherSearch.cityName})">
			Submit</button>
	</form>
	<div class="error" ng-if="weatherSearch.error">Invalid City</div>
	<div class="success" ng-if="weatherSearch.error == false">City found: {{ weatherSearch.successMessage }}</div>

	<ui-view ng-if="weatherSearch.error == false"></ui-view>

</div>